html {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
  }
  .icon1{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px, solid, rgb(115, 115, 115);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
  }
  