html {
  height: 100%;
  width: 100%;
  background-color: #000000;
}
@font-face {
  font-family: 'CustomFont';
  src: url('fonts/vcrmono.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFont2';
  src: url('fonts/videotype.ttf') format('truetype');
}
header {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
}
h1 {
  font-family: 'EB Garamond', serif;
  padding: 5px;
  margin: 5px;
  font-size: 50px;
  color: red;
  text-decoration: underline;
}
footer {
  font-family: 'CustomFont2', sans-serif;
  font-size: 12px;
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 5px;
  text-align: center;
}
button{
  display: block; /* Make button a block element */
  margin: 20px auto; /* Center button itself (horizontal) */
}