html {
    height: 100%;
    width: 100%;
    background-color: #00a7c9;
  }
  .custom-cursor-element {
    cursor: url('images/custom_cursor.png'), auto; /* Change the cursor to the custom image */
  }
  h1{
    text-align: center;
    color: rgb(255, 255, 255);
    border: 5px, solid, white;
    margin: 5px;
    padding: 5px;

  }
  .milk {
    height: 400px;
    width: 650px;
  }
  h2 {
    text-decoration: underline;
    color: rgb(255, 255, 255);
  }
  p {
    font-family: 'Courier New', sans-serif;
      padding: 5px;
      margin: 5px;
      font-size: 12x;
      color: rgb(255, 255, 255);
      text-align:left;
  }
  li{
    color: rgb(255, 255, 255);
  }